<body>
    <header class="header">
        <h1 class="title">
            <img src="/assets/menu.svg" alt="menu" class="menu" id="menuIcon">
            BAföG
            <a href="/stories" class="<%= nameOfPage === 'Geschichten' ? 'active' : 'inactive' %>">Geschichten</a> /
            <a href="/demands" class="<%= nameOfPage === 'Forderungen' ? 'active' : 'inactive' %>">Forderungen</a>
        </h1>
        <p class="description">In Deutschland lebt ein Drittel der Studierenden unter der Armutsgrenze. Die staatliche Bundesausbildungsförderung (kurz: BAföG) schafft es nicht hinreichend, dieser sozialen Ungerechtigkeit etwas entgegenzusetzen. Im Gegenteil: Aufgrund immer weiter steigender Kosten und einer unzureichenden Förderung wird das Studieren immer schwieriger und für manche unmöglich. Die einen erhalten gar keine Förderung, die anderen zu wenig.<br>Hier erzählen wir unsere Geschichten und wie es besser gehen könnte.</p>
    </header>

    <div class="story-button-container">
        <button class="story-button" id="storyButton">
            <img src="/assets/Group 1.svg" alt="icon" class="button-icon">
            <%= toDo %>
        </button>
    </div>

    <div class="form-container" id="formContainer" style="display:none;">
        <form id="storyForm" action="<%= nameOfPage === 'Geschichten' ? '/stories' : '/demands' %>" method="POST">
            <input type="text" name="userName" placeholder="Name" required /><br />
            <textarea name="content" placeholder="<%= inputPlaceholder %>" required></textarea><br />
            <% if (nameOfPage === "Geschichten") { %>
                <select name="sentiment" required>
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                </select><br />
            <% } %>
            <button type="submit">Send</button>
        </form>
    </div>

    <main>
        <nav class="navigation">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/facts">Zahlen & Fakten</a>
                </li>
                <li class="nav-item">
                    <a href="/project">Das Projekt</a>
                </li>
                <li class="nav-item">
                    <a href="/privacy">Datenschutz</a>
                </li>
            </ul>
        </nav>
        <div class="grid">
            <% items.forEach(item => { %>
                <div class="grid-item">
                    <h2><%= item.userName %></h2>
                    <p><%= item.content %></p>
                    <p><strong>Date:</strong> <%= item.date.toDateString() %></p>
                    <p><strong>Upvotes:</strong> <span id="vote-count-<%= item._id %>"><%= item.upvotes %></span></p>
                    <button class="upvote-button" data-id="<%= item._id %>">Upvote</button>
                    <a href="/<%= itemType %>/<%= item._id %>">Mehr erfahren</a>
                    <a href="/<%= itemType %>/<%= item._id %>/edit">Edit</a>
                    <a href="/<%= itemType %>/<%= item._id %>/delete">Delete</a>
                </div>
            <% }) %>
        </div>
    </main>

    <script>
        // Toggle form visibility
        document.getElementById('storyButton').addEventListener('click', function() {
            var formContainer = document.getElementById('formContainer');
            if (formContainer.style.display === 'none' || formContainer.style.display === '') {
                formContainer.style.display = 'block';
            } else {
                formContainer.style.display = 'none';
            }
        });

        // Handle upvotes
        document.querySelectorAll('.upvote-button').forEach(button => {
        button.addEventListener('click', function() {
            const itemId = this.getAttribute('data-id');
            const itemType = '<%= itemType %>'; // 'stories' or 'demands'
            
            fetch(`/upvote/${itemType}/${itemId}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById(`vote-count-${itemId}`).textContent = data.newVoteCount;
                })
                .catch(error => console.error('Error:', error));
             });
        });
    </script>